.wrapper {
  border-top: 1px solid #d9d9d9;
  z-index: 2;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3px;
  color: #8a8a8a;
  fill: #8a8a8a;
  width: 100%;
}

.navItemText {
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}

.active {
  color: #87b15c;
  fill: #87b15c;
}
