.item {
  background: white;
  border-radius: 9px;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.selected {
  background: #4EA73F;
  color: white;
}
