.button {
  border-radius: 50%;
  padding: 9px;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: all 0.15s ease-in;
}

.primary {
  background: #bae48f;
}

.secondary {
  background-color: #EBEBEB;
}

.primary:hover {
  background: #aad182;
}

.secondary:hover {
  background: #dcdcdc;
}
