.wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  height: 34px;
  overflow: auto;
  touch-action: pan-x;
}

.wrap > * {
  white-space: nowrap;
  transition: all .2s linear;
}

.wrap::-webkit-scrollbar {
  display: none;
}

.wrap {
  scrollbar-width: none;
}

.wrap {
  -ms-overflow-style: none;
}

.wrap > * {
  word-break: normal;
  word-wrap: normal;
}
